@model IEnumerable<RentaMaq.Models.chequeoPreventivo>

@{
    ViewBag.Title = "Chequeos Preventivos";
    bool tienePermiso = false;
    if (Session["ID"] != null && RentaMaq.Models.roles.tienePermiso(14, int.Parse(Session["ID"].ToString())))
    {
        tienePermiso = true;
    }
}

<div class="col-sm-4">
    <h3>Chequeos Preventivos</h3>
</div>

@{
    string FECHA1 = "", FECHA2 = "";

    DateTime Inicio = (DateTime)ViewBag.Inicio;
    DateTime Termino = (DateTime)ViewBag.Termino;

    FECHA1 = Inicio.Day + "/" + Inicio.Month + "/" + Inicio.Year;
    FECHA2 = Termino.Day + "/" + Termino.Month + "/" + Termino.Year;
}

<div class="col-md-8">
    <br />
    <div class="col-md-4">
        <h4><small>Filtro de fechas:</small></h4>
    </div>
    <div class="col-md-3">
        <input class="form-control fecha" id="fecha1" name="fecha1" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@FECHA1">

    </div>
    <div class="col-md-3">
        <input class="form-control fecha" id="fecha2" name="fecha2" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@FECHA2">
    </div>
    <div class="col-md-2">
        <input class="form-control" id="Boton" value="Buscar" type="button" />
    </div>
</div>
<div class="clearfix"></div>
@if (tienePermiso)
{
    <p>
        @Html.ActionLink("Crear Nueva", "Create")
    </p>
}
<div class="table-responsive">
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.numeroChequeoPreventivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.numeroChequeoPreventivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoEquipo)
                </td>
                <td>
                    @RentaMaq.Models.Formateador.fechaCompletaToString(item.fecha)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Details", new { id = item.chequeoPreventivoID })
                    @if (tienePermiso)
                    {
                        <text>
                            | @Html.ActionLink("Editar", "Edit", new { id = item.chequeoPreventivoID }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.chequeoPreventivoID })
                        </text>
                    }
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link href="~/amcharts/plugins/export/export.css" rel="stylesheet" type="text/css">
    <script>
            $(document).ready(function () {
                $(".fecha").datetimepicker({
                    viewMode: 'days',
                    format: 'DD/MM/YYYY'
                });


                $("#Boton").click(function () {
                    var fecha1 = $("#fecha1").val();
                    var fecha2 = $("#fecha2").val();

                    fecha1 = fecha1.replace("/", "-").replace("/", "-");
                    fecha2 = fecha2.replace("/", "-").replace("/", "-");

                    if (fecha1=="" || fecha2=="") {
                        alert("Debe ingresar ambas fechas");
                    }
                    else {
                        console.log(fecha1 + "-" + fecha2);
                        ruta = "/chequeoPreventivo/Index?inicio=" + fecha1 + "&termino=" + fecha2;
                        console.log(ruta);
                        window.location.href = ruta
                    }
                });
            });
    </script>
}