@model RentaMaq.Models.equipos
@{
    ViewBag.Title = "Historial de Equipo";
    string INICIO = ViewBag.Inicio;
    string TERMINO = ViewBag.Termino;    
}

<h2>Historial de Equipo <small>@Model.numeroAFI</small></h2>
<form class="form-horizontal" action="/equipos/Historial" method="post">
    <div class="form-group  hidden col-sm-6">
        <label class="control-label col-sm-4">Equipo:</label>
        <div class="col-md-8">
            <input type="text" name="equipoID" value="@Model.ID" readonly />
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-sm-5">
        <label class="control-label col-sm-4">Fecha de Inicio:</label>
        <div class="col-md-8">
            <input class="form-control fecha" id="inicio" name="inicio"
                   data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
                   data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]" value="@INICIO"
                   type="text" required />
        </div>
    </div>
    <div class="form-group col-sm-5">
        <label class="control-label col-sm-4">Fecha de Término:</label>
        <div class="col-md-8">
            <input class="form-control fecha" id="termino" name="termino"
                   data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
                   data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]" value="@TERMINO"
                   type="text" required />
        </div>
    </div>
    <div class="form-group col-sm-2">
        <button type="submit" class="btn btn-default btn-block">Generar</button>
    </div>
</form>
<div class="clearfix"></div>
<hr />
<h4>Equipo: @(Model.numeroAFI)</h4>
@{
    int tipoEquipo = int.Parse(Model.tipoEquipo);
}
<h4>Tipo de Equipo: @(new RentaMaq.DAL.Context().tipoEquipoes.Find(tipoEquipo).nombre)</h4>
@if (ViewBag.OTS.Count > 0) { 
<hr />
<h3>Órdenes de Trabajo</h3>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    Numero de Folio
                </th>
                <th>
                    Fecha OT Abierta
                </th>
                <th>
                    Fecha OT Cerrada
                </th>
                <th>
                    Tipo de Mantenimiento
                </th>
                <th>
                    Fecha Trabajo Pendiente
                </th>
                <th></th>
            </tr>
            <tbody id="contenedor">
                @foreach (var item in (List<RentaMaq.Models.ordenDeTrabajoGeneral>)ViewBag.OTS)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroFolio)
                </td>
                <td>
                    @RentaMaq.Models.Formateador.fechaCompletaToString(item.fechaOTAbierta)

                </td>
                <td>
                    @RentaMaq.Models.Formateador.fechaCompletaToString(item.fechaOTCerrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoMantenimientoARealizar)
                </td>
                <td>
                    @RentaMaq.Models.Formateador.fechaCompletaToString(item.fechaTrabajosPendientesPorRealizar)
                </td>
                <td>
                    <a href="@Url.Action("Details", "ordenDeTrabajoGeneral", new { id = item.ordenDeTrabajoGeneralID })">Detalles</a> |
                    <br />
                    @Html.ActionLink("Ver PDF", "ordenDeTrabajoGeneral", "Report", new { id = item.ordenDeTrabajoGeneralID }, new { target = "_blank" })
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
}
@if (ViewBag.Lubricaciones.Count > 0) { 
    <div class="clearfix"></div>
    <hr />
    <h3>Registros en Hoja de Ruta de Mantenedores</h3>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Nombre de Mantenedor
                </th>
                <th>
                    Número de Hoja de Ruta
                </th>

                <th class="col-md-5">
                    Trabajo Realizado
                </th>
                <th></th>
            </tr>

            @foreach (RentaMaq.Models.hojaRutaMantenedores item in ViewBag.Lubricaciones)
        {
        <tr>
            <td>
                @RentaMaq.Models.Formateador.fechaCompletaToString(item.fecha)
            </td>
            <td>
                @item.nombreMantenedor.Replace(System.Environment.NewLine, ", ")
            </td>
            <td>
                @item.numero
            </td>
            <td>
                @item.trabajoRealizado
            </td>
            <td>
                <a href="@Url.Action("Details", "hojaRutaMantenedores", new { id = item.numero })">"Detalles"</a> |
                <br />
                <a target="_blank" href="@Url.Action("HojaRutaMantenedores", "Report", new { id = item.numero })">Ver PDF</a>
            </td>
        </tr>
        }

        </table>
    </div>
}
@if (ViewBag.Combustible.Count > 0)
{
    <div class="clearfix"></div>
    <hr />
    <h3>Reports de Combustible</h3>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    Fecha/Hora
                </th>
                <th>
                    Número de Report
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Horómetro
                </th>
                <th>
                    Kilometraje
                </th>
                <th>
                    Litros
                </th>
                <th></th>
            </tr>
            @foreach (var item in ViewBag.Combustible)
        {
        <tr>
            @{
            string fecha = item.fechaHora.Year + "";
            string mes = item.fechaHora.Month + "";
            if (mes.Length == 1) { mes = "0" + mes; }
            string dia = item.fechaHora.Day + "";
            if (dia.Length == 1) { dia = "0" + dia; }

            string hora = item.fechaHora.Hour + "";
            if (hora.Length == 1) { hora = "0" + hora; }
            string minuto = item.fechaHora.Minute + "";
            if (minuto.Length == 1) { minuto = "0" + minuto; }


            fecha += "/" + mes + "/" + dia + " " + hora + ":" + minuto;
            }
            <td>
                @fecha
            </td>
            <td>
                @item.numeroReport
            </td>
            <td>
                @item.usuario
            </td>
            <td>
                @item.horometro
            </td>
            <td>
                @item.kilometraje
            </td>
            <td>
                @item.litros
            </td>
            <td>
                <a href="@Url.Action("Details", "reportCombustible", new { id = item.ID })">Detalles</a>
            </td>
        </tr>
        }

        </table>
    </div>
}
@if (ViewBag.Registros.Count > 0)
{
    <div class="clearfix"></div>
    <hr />
    <h3>Registros de Horómetro/Kilometraje</h3>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    Kilometraje
                </th>
                <th>
                    Horómetro
                </th>
                <th>
                    Fecha
                </th>
            </tr>

            @foreach (var item in ViewBag.Registros)
            {
                <tr>
                    <td>
                        @item.kilometraje
                    </td>
                    <td>
                        @item.horometro
                    </td>
                    <td>
                        @{
                string dia = item.fecha.Day.ToString();
                if (dia.Length == 1)
                {
                    dia = "0" + dia;
                }
                string mes = item.fecha.Month.ToString();
                if (mes.Length == 1)
                {
                    mes = "0" + mes;
                }
                string FECHA = dia + "/" + mes + "/" + item.fecha.Year;
                        }
                        @FECHA
                    </td>
                </tr>
            }

        </table>
    </div>
}
<div class="modal-footer">
    <a class="btn btn-primary" target="_blank" href="@Url.Action("VerHistorial", "Report", new { idEquipo=@Model.ID, Inicio=INICIO, Termino=TERMINO})">Descargar Reporte</a>
    <a class="btn btn-default" href="@Url.Action("seleccionarEquipoHistorial","equipos")">Volver</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")


    <script>
        $(document).ready(function () {
            try {

                $(".select2").select2({
                    placeholder: "Seleccione un equipo"
                });
                console.log("aquí");
            } catch (error) {
                console.log(error);
            }

            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}