@model RentaMaq.Models.CotizacionDeTraslado

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de cotización de traslado</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Datos:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CotizacionDeTrasladoID)
        <div>
            <h4>Datos:</h4>
            <div class="form-group">
                <label class="control-label col-md-2" for="NumeroDeCotizacion">N&#250;mero de Cotizaci&#243;n</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Número de Cotización must be a number." data-val-required="The Número de Cotización field is required." id="NumeroDeCotizacion" name="NumeroDeCotizacion" type="number" value="@Model.NumeroDeCotizacion" readonly />
                    <span value="0" class="field-validation-valid text-danger" data-valmsg-for="NumeroDeCotizacion" data-valmsg-replace="true"></span>
                </div>
                <label class="control-label col-md-2" for="a_o">A&#241;o</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Año must be a number." data-val-required="The Año field is required." id="a_o" name="año" type="number" value="@Model.año" readonly />
                    <span value="0" class="field-validation-valid text-danger" data-valmsg-for="año" data-valmsg-replace="true"></span>
                </div>
            </div>

            @{
    string FECHA = @Model.fecha.Day + "/" + @Model.fecha.Month + "/" + @Model.fecha.Year;
            }

            <div class="form-group">
                <label class="control-label col-md-2" for="fecha">Fecha</label>
                <div class="col-md-4">
                    <input class="form-control fecha" id="Fecha" name="Fecha"
                           data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
                           data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
                           type="text" value="@FECHA" readonly>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Fecha" data-valmsg-replace="true"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2" for="cliente">Cliente</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="cliente" name="cliente" type="text" value="@Model.cliente" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="cliente" data-valmsg-replace="true"></span>
                </div>

                <label class="control-label col-md-2" for="rut">Rut</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Rut must be a number." data-val-required="The Rut field is required." id="rut" name="rut" type="number" value="@Model.rut" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="rut" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="direccion">Direcci&#243;n</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="direccion" name="direccion" type="text" value="@Model.direccion" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="direccion" data-valmsg-replace="true"></span>
                </div>
                <label class="control-label col-md-2" for="telefono">Tel&#233;fono</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="telefono" name="telefono" type="text" value="@Model.telefono" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="telefono" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="atencionA">Atenci&#243;n a</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="atencionA" name="atencionA" type="text" value="@Model.atencionA" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="atencionA" data-valmsg-replace="true"></span>
                </div>
                <label class="control-label col-md-2" for="referencia">Referencia</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="referencia" name="referencia" type="text" value="@Model.referencia" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="referencia" data-valmsg-replace="true"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2" for="moneda">Moneda</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="moneda" name="moneda" type="text" value="@Model.moneda" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="moneda" data-valmsg-replace="true"></span>
                </div>
                <label class="control-label col-md-2" for="tipoCambio">Tipo de Cambio</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="tipoCambio" name="tipoCambio" type="text" value="" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="tipoCambio" data-valmsg-replace="true">@Model.tipoCambio</span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2" for="encabezado">Encabezado</label>
                <div class="col-md-10">
                    <textarea name="encabezado" id="encabezado" rows="4" class="form-control" style="max-width:97%; width:97% !important" readonly>@Model.encabezado</textarea>
                </div>
            </div>
            <hr />
            <div class="col-sm-12" id="DivDetalles">
                <h4>Detalle:</h4>
                <div class="table-responsive">
                    <table class="table table-condensed" id="tableItems">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th class="col-md-6">Descripción</th>
                                <th class="col-md-1">Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (RentaMaq.Models.detalleCotizacionDeTraslado Detalle in new RentaMaq.DAL.Context().detalleCotizacionTraslado.Where(s => s.IDCotizacionTraslado == Model.CotizacionDeTrasladoID).ToList())
                            {
                                <tr>
                                    <td><input type="text" class="form-control" name="codigoDetalle" id="codigoDetalle" value="@Detalle.codigo" required readonly /></td>
                                    <td><textarea type="text" rows="1" class="form-control" name="descripcionDetalle" id="descripcionDetalle" required style="max-width:97%; width:97%; resize:none !important" readonly>@Detalle.descripcion</textarea></td>
                                    <td><input type="number" class="form-control" name="cantidadDetalle" id="cantidadDetalle" value="@Detalle.cantidad" required readonly /></td>
                                    <td><input type="number" class="form-control" name="precioUnitarioDetalle" id="precioUnitarioDetalle" value="@Detalle.precioUnitario" required readonly /></td>
                                    <td><input type="number" class="form-control" name="totalDetalle" id="totalDetalle" value="@Detalle.total" required readonly /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2" for="nota">Nota</label>
                <div class="col-md-10">
                    <textarea name="nota" id="nota" class="form-control" rows="4" style="max-width:97%; width:97% !important" readonly>@Model.nota</textarea>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2" for="disponibilidad">Disponibilidad</label>
                <div class="col-md-10">
                    <textarea name="disponibilidad" id="disponibilidad" class="form-control" rows="4" style="max-width:97%; width:97% !important" readonly>@Model.disponibilidad</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="valorIncluye">Valor incluye</label>
                <div class="col-md-10">
                    <textarea name="valorIncluye" id="valorIncluye" class="form-control" rows="4" style="max-width:97%; width:97% !important" readonly>@Model.valorIncluye</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="valorNoIncluye">Valor no incluye</label>
                <div class="col-md-10">
                    <textarea name="valorNoIncluye" id="valorNoIncluye" class="form-control" rows="4" style="max-width:97%; width:97% !important" readonly>@Model.valorNoIncluye</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="condicionesGenerales">Condiciones Generales</label>
                <div class="col-md-10">
                    <textarea name="condicionesGenerales" id="condicionesGenerales" class="form-control" rows="4" style="max-width:97%; width:97% !important" readonly>@Model.condicionesGenerales</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="formasDePago">Formas de Pago</label>
                <div class="col-md-10">
                    <textarea name="formasDePago" id="formasDePago" class="form-control" rows="4" style="max-width:97%; width:97% !important" readonly>@Model.formasDePago</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="textoAdjuntarDocumentos">Texto sobre documentos adjuntos</label>
                <div class="col-md-10">
                    <textarea name="textoAdjuntarDocumentos" id="textoAdjuntarDocumentos" class="form-control" rows="4" style="max-width:97%; width:97% !important" readonly>@Model.textoAdjuntarDocumentos</textarea>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
