@model RentaMaq.Models.costosEquipos
@{
    ViewBag.Title = "Index";
    int AnioActual = ViewBag.AnioActual;
    int AnioEscogio = ViewBag.AnioEscogio;
    int Anio = ViewBag.Anio;
    int Mes = ViewBag.Mes;
    List<double> costos= (List<double>)ViewData["CostosOTs"];
    int i = 0;
    double costosTotales = 0;
    List<RentaMaq.Models.ordenDeTrabajoGeneral> OTs = (List<RentaMaq.Models.ordenDeTrabajoGeneral>)Model.listaOrdenesTrabajo;
}


<div class="col-md-4">
    <h3>Costos @Model.afiEquipo</h3>
</div>

<div class="col-md-8">
    <div class="col-md-12">
        <h4>Filtros:</h4>
    </div>
    <div class="col-md-3">
        <label class="control-label">Año:</label>
        <select class="form-control" name="anio" id="anio">
            <option value="@ViewBag.AnioActual" @if (AnioActual == AnioEscogio) { <text> selected </text>  }>@ViewBag.AnioActual</option>
            <option value="@ViewBag.Anio" @if (Anio == AnioEscogio) { <text> selected </text>  }>@ViewBag.Anio</option>
        </select>

    </div>
    <div class="col-md-3">
        <label class="control-label">Mes:</label>
        <select class="form-control" name="mes" id="mes">
            <option value="1" @if (Mes == 1) { <text> selected </text> }>1</option>
            <option value="2" @if (Mes == 2) { <text> selected </text>  }>2</option>
            <option value="3" @if (Mes == 3) { <text> selected </text>  }>3</option>
            <option value="4" @if (Mes == 4) { <text> selected </text>  }>4</option>
            <option value="5" @if (Mes == 5) { <text> selected </text>  }>5</option>
            <option value="6" @if (Mes == 6) { <text> selected </text>  }>6</option>
            <option value="7" @if (Mes == 7) { <text> selected </text>  }>7</option>
            <option value="8" @if (Mes == 8) { <text> selected </text>  }>8</option>
            <option value="9" @if (Mes == 9) { <text> selected </text>  }>9</option>
            <option value="10" @if (Mes == 10) { <text> selected </text>  }>10</option>
            <option value="11" @if (Mes == 11) { <text> selected </text>  }>11</option>
            <option value="12" @if (Mes == 12) { <text> selected </text>  }>12</option>

        </select>
    </div>
    <div class="col-md-3">
        <br />
        <input class="btn btn-lg btn-default btn-block" id="Boton" value="Buscar" type="button" />
    </div>
</div>
<div class="clearfix"></div>

<div class="table-responsive">
    <table class="table">
        <tr>            
            <th>
                Numero OT
            </th>
            <th>
                Fecha
            </th> 
            <th>
                Costos Totales
            </th>            
            <th></th>
        </tr>

       @foreach (RentaMaq.Models.ordenDeTrabajoGeneral OT in (List<RentaMaq.Models.ordenDeTrabajoGeneral>)Model.listaOrdenesTrabajo)
       {
            <tr>
                <td>
                    @OT.numeroFolio
                </td>
                <td>
                    @RentaMaq.Models.Formateador.fechaCompletaToString(OT.horasMantenimientoFecha)
                </td>                
                <td>
                    $@costos[i]
                </td>
                <td></td>
            </tr>
          
           costosTotales =costosTotales+ costos[i];
           i++;
        }
    </table>
</div>
<div class="col-md-4">
    <h3>Costos Totales de @Model.afiEquipo: $@costosTotales</h3>
</div>
<div class="col-md-7">
    @if (Model.horometroInicial > 0)
    {
        <text>
            <h3> Horometro Inicial:@Model.horometroInicial-Horometro Final: @Model.horometroFinal = @(Model.horometroFinal-Model.horometroInicial)</h3>
        </text>

    }
    else { 
        <text>
            <h3> Kilometraje Inicial: @Model.kilometrosInicial   -  Kilometraje Final : @Model.kilometrosFinal=@(Model.kilometrosFinal-Model.kilometrosInicial)</h3>
        </text>
    
    }
    
</div>
<div class="col-md-6">
    Costos por Hora:@Model.resultadoIndicador
</div>
<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")

    
    <script type="text/javascript" src="~/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="~/amcharts/serial.js"></script>
    <script type="text/javascript" src="~/amcharts/themes/light.js"></script>
    <script type="text/javascript" src="~/amcharts/plugins/export/export.min.js"></script>
    <link type="text/css" href="~/amcharts/plugins/export/export.css" rel="stylesheet">
    <script>
        var chartData = [];
        var chart = AmCharts.makeChart("chartdiv",
            {
                "type": "serial",
                "categoryField": "category",
                "startDuration": 1,
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "trendLines": [],
                "graphs": [
                    {
                        "balloonText": "[[title]] of [[category]]: [[value]]",
                        "fillAlphas": 1,
                        "id": "AmGraph-1",
                        "title": "Costos Equipo Mensual",
                        "type": "column",
                        "valueField": "column-1"
                    }
                ],
                "guides": [],
                "dataProvider": [
                    {
                        @for (int x = 0; x < OTs.Count; x++)
        {
            <text>
            "category": "@RentaMaq.Models.Formateador.fechaCompletaToString(OTs[x].horasMantenimientoFecha)",
            "column-1": @costos[x],
            @if (x == OTs.Count - 1)
            {
                <text>
                }
            </text>
        }
        else {
        <text>
        },
        {
        </text>
        }
                    </text>
        }
        ],
        "valueAxes": [
            {
                "id": "ValueAxis-1",
                "title": "Costo ($)"
            }
        ],
        "allLabels": [],
        "balloon": {},
            "legend": {
                "useGraphSettings": true
            },            
            "titles": [
               {
                   "id": "Title-1",
                   "size": 15,
                   "text": ""
               }
            ],
            "export": {
                "enabled": true                
            }
        }
        );
            $(document).ready(function () {
                $(".fecha").datetimepicker({
                    viewMode: 'days',
                    format: 'DD/MM/YYYY'
                });


                $("#Boton").click(function () {
                    var mes = $("#mes").val();
                    var anio = $("#anio").val();
                    ruta = "/reporteMensual/costosActivosDetalle/"+@Model.idEquipo+"?anio=" + anio + "&mes=" + mes ;
                    window.location.href = ruta

                });
            });
    </script>
}


